<h2 class="title">
    Pokemon details: {{ name }}
</h2>
<table class="mat-elevation-z8">
    <tr class="mat-row">
        <td>Type:</td>
        <td>
            <span *ngFor="let value of type; let last = last">
                <span>{{value.type.name}}</span><span *ngIf="!last">, </span>
            </span>
        </td>
        <!-- -->
        <td>Double Damage To:</td>
        <td>
            <span *ngFor="let value of doubleDamageTo; let last = last">
                <span>{{value}}</span><span *ngIf="!last">, </span>
            </span>
        </td>
    </tr>
    <tr class="mat-row">
        <td>Weight:</td>
        <td>
            <span>{{weight}}</span>
        </td>
        <!-- -->
        <td>Double Damage From:</td>
        <td>
            <span *ngFor="let value of doubleDamageFrom; let last = last">
                <span>{{value}}</span><span *ngIf="!last">, </span>
            </span>
        </td>
    </tr>
    <tr class="mat-row">
        <td>Height:</td>
        <td>
            <span>{{height}}</span>
        </td>
        <!-- -->
        <td>Half Damage To:</td>
        <td>
            <span *ngFor="let value of halfDamageTo; let last = last">
                <span>{{value}}</span><span *ngIf="!last">, </span>
            </span>
        </td>
    </tr>
    <tr class="mat-row">
        <td>Signature Ability:</td>
        <td>
            <span *ngFor="let value of signatureAbility; let last = last">
                <span>{{value.ability.name}}</span><span *ngIf="!last">, </span>
            </span>
        </td>
        <!-- -->
        <td>Half Damage From:</td>
        <td>
            <span *ngFor="let value of halfDamageFrom; let last = last">
                <span>{{value}}</span><span *ngIf="!last">, </span>
            </span>
        </td>
    </tr>
    <!-- no damage to-->
    <tr class="mat-row">
        <td></td>
        <td></td>
        <!-- -->
        <td>No Damage To:</td>
        <td>
            <span *ngFor="let value of noDamageTo; let last = last">
                <span>{{value}}</span><span *ngIf="!last">, </span>
            </span>
        </td>
    </tr>
    <tr class="mat-row">
        <td></td>
        <td></td>
        <!-- -->
        <td>No Damage From:</td>
        <td>
            <span *ngFor="let value of noDamageFrom; let last = last">
                <span>{{value}}</span><span *ngIf="!last">, </span>
            </span>
        </td>
    </tr>

</table>
<br />
<br />
<div style="text-align: right">
    <button  mat-button (click)="onClose()">Close</button>
</div>
